body {
  background-color: var(--item_background_dark);
  margin: 0 !important;
  padding: 0 !important;
}

:root {
--ripple_dark: #b980ff;
--item_background_dark: #121212;
--textColor_dark: #EEEEEE;
--unselected_dark: #222222;
--selected_dark: #BB86FC;
--border-width: 0.5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
  background-color: var(--unselected_dark);
  width: calc(20vw - var(--border-width)*2);
  height: calc(20vw - var(--border-width)*2);
  border: var(--border-width) solid rgba(0, 0, 0);
  font-size: 4vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}