:root {
    --vw: 1vw;
    --overlay: #b980ff10;
    --ripple_dark: #b980ff80;
    --item_background_dark: #262626;
    --textColor_dark: #EEEEEE;
    --unselected_dark: #222222;
    --selected_dark: #BB86FC;
    --selected_dark2: #86bdfc;
    --light_gray:#E6E6E6;
    --popup-background: #ffffff80;
    --border-width: 0.5px;

}

@media (orientation: landscape) {
   :root{
    --vw: 1vh;
   }
}
.popup-out{
    display: none;
}
.popup-in{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlay);
}

.popup{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    
    left: 0;
    right:  0;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    margin-left: auto;
    margin-right: auto;

    height: calc(var(--vw) * 70); 
    width: calc(var(--vw) * 70);
    max-height: 500px;
    max-width: 500px;
    background-color: var(--item_background_dark);
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    font-family: Roboto;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    overflow: hidden;
    animation: popup_in 180ms cubic-bezier(0.08, 0.82, 0.2, 1.08);
}

.title{

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: calc(var(--vw) * 5);

    left: 0;
    height: calc(var(--vw) * 10);
    width: 100%;
    
    color: white;
    background-color: var(--selected_dark);
}

.input-field{

    all: unset;
    align-self: center;
    margin-top: 5px;
    width: 90%;
    height: 3em;
    font-family: 'Roboto';
    box-sizing: border-box;
    color: white;
    padding: 4px;
    padding-left: 10px;
    border: 1px solid var(--unselected_dark);;
    border-radius: 5px;
    background-color: var(--unselected_dark);
    font-size: calc(var(--vw) * 3.5);
}

.input-field:focus{
    border: 1px solid white;
}
.form-button{
    all: unset;
    right: 0;
    left:  0;
    margin: 0 auto;
    font-family: Roboto;
    font-weight: bold;
    color: #E6E6E6;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    border-radius: 8px;
}

.add-form-button{
    height: 21.4%;
    width: 60.7%;
    bottom: 7.15%;
    margin-bottom: 15px;
    font-size: calc(var(--vw) * 4.5);
    
    background-color: #BB86FC;
}
.delete-form-button{
    height: 10.7%;
    width: 30.35%;
    bottom: 29.5%;
    font-size: calc(var(--vw) * 2.25);
    background-color: #f04343;
}

.form-button:hover{
    opacity: 0.8;
    box-shadow: 0px 10px 5px #222222;
}

.form-button:focus{
    opacity: 1;
    box-shadow: 0px 10px 5px #222222;
    border: 1px solid rgb(0, 0, 0);
    outline: #ddd solid 2px;
}

.non-scrollable{
    height: 100%;
    overflow: hidden;
}


input[type="number"]{
    margin-top: 2%;
}

@keyframes popup_in {
    from {
        transform: translate(0%, -50%) scale(0);
        opacity: 0;
    }
    to {
        transform: translate(0%, -50%) scale(1);
        opacity: 100;
      }
}
