:root {
    --vw: 1vw;
    --ripple_dark: #b980ff80;
    --item_background_dark: #262626;
    --textColor_dark: #EEEEEE;
    --unselected_dark: #222222;
    --selected_dark: #BB86FC;
    --selected_dark2: #86bdfc;
    --light_gray:#E6E6E6;
    --popup-background: #ffffff80;
    --border-width: 0.5px;

}
@media (orientation: landscape) {
   :root{
    --vw: 1vh;
   }
}

.popup-out{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #b980ff10;
}

.popup{
    position: absolute;
    left: 0;
    right:  0;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    height: calc(var(--vw) * 70);
    width: calc(var(--vw) * 70);
    max-height: 500px;
    max-width: 500px;
    background-color: var(--item_background_dark);
    border-radius: 20px;
    text-align: center;
    font-family: Roboto;
    overflow: hidden;
}

.title{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 5vw;

    left: 0;
    height: 10vw;
    width: 100%;
    
    color: white;
    background-color: var(--selected_dark);
}

.input-field{
    all: unset; 
    display: flex;
    position: relative;
    top: 17.8%;
    right: 0;
    left:  0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    background-color: var(--light_gray);
    height: 14.3%;
    width: 71.5%;
    font-size: 3.5vw;
}

.add-form-button{
    all: unset;

    position: absolute;
    height: 21.4%;
    width: 60.7%;
    bottom: 7.15%;
    
    
    right: 0;
    left:  0;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 8px;
    

    font-size: 4.5vw;
    /* font-size: 18px; */

    font-family: Roboto;
    font-weight: bold;
    color: #E6E6E6;
    cursor: pointer;
    background-color: #BB86FC;
}
.non-scrollable{
    height: 100%;
    overflow: hidden;
}


input[type="number"]{
    margin-top: 2%;
    background-color: #86bdfc;
}