body {
    background-color: var(--item_background_dark);
    overflow-x: hidden;
    margin: 0 !important;
    padding: 4px !important;
}

:root {
    --ripple_dark: #b980ff80;
    --item_background_dark: #121212;
    --textColor_dark: #EEEEEE;
    --unselected_dark: #222222;
    --selected_dark: #BB86FC;
    --selected_dark2: #86bdfc;
    --border-width: 0.5px;
}

.actionbar{
    position: relative;
    color: white;
    margin-left: 10px;
    height: 55.2px;
    font-size: 1.8em;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: center;
}
.add-button{
    cursor: pointer;
    position: absolute;
    margin: 0;
    right: 20px;
    font-family: initial;
    font-weight: bold;
    font-size: 1.6em;
    overflow: visible;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.list-item{
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-family: Roboto;

    margin: 5px 0px 5px 0px;
    height: 70px;
    border-radius: 16pt;
    
    color: white;
    background-color: var(--unselected_dark);
}
span.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--ripple_dark);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

::-webkit-scrollbar {
    display: none;
}
.list-item::after {
   position: absolute;
   content: attr(data-value);
   font-size: medium;

   right: 0;
   margin-right: 20px;
}